Framework/Implementacion.Wcf.Error/Service References/Proxy/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57236/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57236/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Framework.Wcf.Error" />
      <xsd:import schemaLocation="http://localhost:57236/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57236/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Implementacion.Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetData_ErrorServicioRespuestaFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Framework.Wcf.Error" name="detail" element="q1:ErrorServicioRespuesta" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataUsingDataContract_ErrorServicioRespuestaFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Framework.Wcf.Error" name="detail" element="q2:ErrorServicioRespuesta" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataErrorValidacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataErrorValidacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataErrorValidacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataErrorValidacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataErrorValidacion_ErrorServicioRespuestaFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Framework.Wcf.Error" name="detail" element="q3:ErrorServicioRespuesta" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataErrorRegla_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataErrorRegla" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataErrorRegla_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataErrorReglaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataErrorRegla_ErrorServicioRespuestaFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Framework.Wcf.Error" name="detail" element="q4:ErrorServicioRespuesta" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/GetData" message="tns:IServicio_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/GetDataResponse" message="tns:IServicio_GetData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/GetDataErrorServicioRespuestaFault" name="ErrorServicioRespuestaFault" message="tns:IServicio_GetData_ErrorServicioRespuestaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/GetDataUsingDataContract" message="tns:IServicio_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/GetDataUsingDataContractResponse" message="tns:IServicio_GetDataUsingDataContract_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/GetDataUsingDataContractErrorServicioRespuestaFault" name="ErrorServicioRespuestaFault" message="tns:IServicio_GetDataUsingDataContract_ErrorServicioRespuestaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataErrorValidacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/GetDataErrorValidacion" message="tns:IServicio_GetDataErrorValidacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/GetDataErrorValidacionResponse" message="tns:IServicio_GetDataErrorValidacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/GetDataErrorValidacionErrorServicioRespuestaFault" name="ErrorServicioRespuestaFault" message="tns:IServicio_GetDataErrorValidacion_ErrorServicioRespuestaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataErrorRegla">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/GetDataErrorRegla" message="tns:IServicio_GetDataErrorRegla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/GetDataErrorReglaResponse" message="tns:IServicio_GetDataErrorRegla_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/GetDataErrorReglaErrorServicioRespuestaFault" name="ErrorServicioRespuestaFault" message="tns:IServicio_GetDataErrorRegla_ErrorServicioRespuestaFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicio" type="tns:IServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServicio/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorServicioRespuestaFault">
        <soap:fault use="literal" name="ErrorServicioRespuestaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServicio/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorServicioRespuestaFault">
        <soap:fault use="literal" name="ErrorServicioRespuestaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataErrorValidacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/GetDataErrorValidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorServicioRespuestaFault">
        <soap:fault use="literal" name="ErrorServicioRespuestaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataErrorRegla">
      <soap:operation soapAction="http://tempuri.org/IServicio/GetDataErrorRegla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorServicioRespuestaFault">
        <soap:fault use="literal" name="ErrorServicioRespuestaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="BasicHttpBinding_IServicio" binding="tns:BasicHttpBinding_IServicio">
      <soap:address location="http://localhost:57236/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>